@charset "UTF-8";
/* Imports fonts */
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

/* Main styles for all pages */

/* Html and body styles */
html {
    background: linear-gradient(rgb(31, 151, 214), rgb(75, 228, 236));
}

body {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    margin: auto;
    background-color: rgb(248, 213, 104);
    font-family: 'Frank Ruhl Libre', 'Times New Roman', Times, serif;
}

/* Header styles */
#logo {
    padding: 0.5em;
    box-sizing: border-box;
}

#compName {
    box-sizing: border-box;
    font-family: 'Berkshire Swash', "Brush Script MT", cursive;
    padding-left: 0.25em;
}

#donate {
    text-decoration: none;
    display: block;
    background-color: rgba(255, 168, 0, 0.60);
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;
    color: black;
}

#donate:not([href]),
#donate:not([href]):hover {
    background-color: rgba(145, 121, 73, 0.80);
    color: rgb(176, 167, 167);
}

#donate:hover {
    background-color: rgb(255, 168, 0);
    color: rgb(70, 70, 70);
}

/* Navigation styles */
#navArrow {
    width: 100%;
    display: none;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    text-indent: 0.35em;
    color: white;
    line-height: 2em;
}

nav.sticky {
    position: fixed;
    top: 0px;
    z-index: 100;
}

.mainNav {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
}

.mainNav ul a,
.submenuTitle {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
    color: white;
    font-variant: small-caps;
    letter-spacing: 0.2em;
}

#returnBtn {
    display: none;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(2, 164, 211);
    line-height: 1.6em;
}

#navArrow:hover,
#returnBtn:hover {
    background-color: rgb(2, 134, 207);
}

.submenuTitle {
    cursor: pointer;
}

.submenu {
    display: none;
}

.submenu li {
    text-indent: 2em;
}

/* Main styles */
main {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

/* Article styles */
article {
    padding: 0 1em;
}

/* Footer styles */
footer {
    background-color: rgb(238, 184, 19);
    display: -webkit-flex;
    display: flex;
}

footer h1 {
    font-size: 1.5em;
    text-decoration: underline;
}

footer a {
    text-decoration: none;
    color: rgb(87, 21, 217);
}

footer a:hover {
    color: rgb(148, 113, 204);
}

#footSocial ul {
    display: flex;
    display: -webkit-flex;
}

#footSocial li {
    margin: auto;
}

.socialIcon {
    width: 3em;
    height: 3em;
}

#twitterIcon {
    background-color: rgb(121, 223, 255);
}

#fbIcon {
    background-color: rgb(0, 40, 187);
}

#igIcon {
    background-color: rgb(255, 255, 255);
}

footer address {
    font-style: italic;
}

/* Styles for mobile only */
@media screen and (max-width: 480px) {
    /* Header styles */
    #banner {
        display: flex;
        display: -webkit-flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        height: 15em;
    }
    #logo {
        width: 50%;
        height: 75%;
    }
    #compName {
        font-size: 3.25em;
        width: 50%;
        height: 75%;
    }
    #donate {
        margin-left: auto;
        width: 5em;
    }

    /* Navigation styles */
    #navArrow {
        display: block;
    }
    header.sticky+main {
        margin-top: 3em;
    }
    .mainNav {
        background-color: rgb(2, 164, 211);
    }
    #navMenu {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        text-indent: 1em;
    }
    .mainNav ul a,
    .submenuTitle {
        text-align: left;
        line-height: 2.5em;
        width: 100%;
        background-color: rgb(2, 164, 211);
    }
    #currentPage {
        background-color: rgb(29, 188, 234);
        color: rgb(216, 216, 216);
    }
    .mainNav ul a:hover,
    .submenuTitle:hover {
        background-color: rgb(2, 134, 207);
    }
    #currentMenu {
        display: block;
    }

    /* Footer styles */
    footer {
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        line-height: 1.5em;
    }

    .socialIcon {
        margin: 1em;
    }

    #footContact a {
        display: block;
        background-color: rgb(242, 198, 38);
        padding: 0.5em 0;
        text-align: center;
    }

    #footContact a:hover {
        background-color: rgb(237, 195, 42);
    }
}

/* Styles for tablet and desktop */
@media screen and (min-width: 481px) {
    /* Header styles */
    #banner {
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        align-items: center;
    }
    #banner {
        height: 12.5em;
        width: 100%;
    }
    #logo {
        width: 13em;
        height: 100%;
    }
    #compName {
        width: 60%;
        font-size: 4em;
    }
    #donate {
        align-self: flex-end;
        font-size: 1em;
        width: 4em;
    }

    /* Navigation styles */
    header.sticky+main {
        margin-top: 2em;
    }
    .mainNav>ul {
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
    }
    .mainNav>ul>li {
        width: 25%;
    }
    .mainNav ul a,
    .submenuTitle {
        background-color: rgba(65, 65, 65, 0.75);
    }
    #currentPage {
        background-color: rgba(136, 136, 136, 0.75);
        color: rgb(218, 218, 218)
    }
    .mainNav ul a:hover,
    .submenuTitle:hover {
        background-color: rgba(55, 55, 55, 0.9);
    }
    .submenuTitle:hover+.submenu,
    .submenu:hover {
        display: flex;
        display: -webkit-flex;
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
    }
    .submenu {
        max-width: 256px;
        width: 25%;
        display: none;
        position: absolute;
        z-index: 1;
    }

    /* Footer styles */
    footer {
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
        padding: 1em;
    }

    #footSocial {
        width: 33%;
    }

    #footSocial ul {
        padding-top: 1em;
    }

    #footContact {
        width: 67%;
        text-align: right;
    }
}

/* Styles for desktop only */
@media screen and (min-width: 769px) {
    /* Header styles */
    #banner {
        justify-content: space-between;
    }
    #donate {
        font-size: 2em;
    }
}