@charset "UTF-8";

/* Styles for residential services page */

/* Article styles */
article {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
}

/* Residential info styles */
#resInfo {
    width: 50%;
    min-width: 320px;
    padding-bottom: 1em;
    font-size: 1.5em;
    line-height: 1.25em;
}

/* Image styles */
#solarHouse {
    min-width: 320px;
    width: 40%;
}