/*

Author: Peter Tran

Date: 5.7.18

about.css

*/
main {
    margin: 10px 15px;
}
main h1 {
    font-size: 3em;
}

.container {

}

.migos {
    display: flex;
}

.migos h2 {
    font-size: 2.2em;
    margin: 10px 15px;
    text-align: center
}

.migos img {
    height: 15em;
    display: block;
    margin: 0 auto;
}

.persona {
    width: 33.3%;
    margin: 5px;
}


