/*

Author: Peter Tran

Date: 5.7.18

about.css

*/

main h1 {
    font-size: 3em;
    margin-left: 15px;
}

.migos h2 {
    font-size: 2.2em;
    margin: 10px 15px;
}

.migos {
    margin: 10px 15px;
}