@charset "UTF-8";

/*

Author: Peter Tran

Date: 5.7.18

Styles for about page

*/

/* h1 and em styles */
main h1 {
    font-size: 3em;
    padding-bottom: 0.5em;
}

em {
    font-style: italic;
    font-size: 1.1em;
}

/* Founders info styles */
.migos {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    margin: 3em 0;
}

.migos h2 {
    font-size: 2.2em;
    margin: 10px 15px;
    text-align: center;
}

.migos img {
    height: 15em;
    width: 15em;
    display: block;
    margin: 0 auto;
    border-radius: 15em;
    box-shadow: 0 0 25px yellow;
}

.persona {
    width: 5em;
    flex: 0 1 20em;
    padding: 5px;
}

/* Paragraph styles */
main p {
    font-size: 1.25em;
    line-height: 1.25em;
}