@charset "UTF-8";

/* Styles for home page */

/* Carousel styles */
#carousel {
    width: 100%;
    max-width: 1024px;
    position: relative;
    margin: auto;
}

/* Animation for fade */
@-webkit-keyframes fade {
    from {opacity: 0.6}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0.6}
    to {opacity: 1}
}

/* Carousel slide styles */
.cFade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.cImage {
    width: 100%;
    height: 100%;
}

.cImage img {
    width: 100%;
    height: 100%;
}

.cCaption {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 0.5em;
    font-size: 1.4em;
    background-color: rgba(65, 65, 65, 0.5);
    border-radius: 0.5em;
    color: white;
}

.cArrow {
    width: auto;
    position: absolute;
    top: 50%;
    font-size: 4em;
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
}

.cArrow:first-of-type {
    border-radius: 0px 10px 10px 0px;
}

#cNext {
    right: 0px;
}

.cArrow:hover {
    background-color: rgba(70, 70, 70, 0.9);
}

#cProgress {
    display: none;
    width: 100%;
    height: 5%;
    margin: auto;
    text-align: center;
    position: absolute;
    bottom: 15px;
}

.cSun {
    width: 15px;
    height: 15px;
    border-radius: 1em;
    margin: 0px 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(254, 205, 65);
    box-shadow: 0px 0px 15px 2px rgb(67, 60, 60);
    cursor: pointer;
    transition: 0.3s ease;
}

.cSun:hover {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 246, 89);
    box-shadow: 0px 0px 10px rgb(250, 250, 55);
}

.cActive, .cActive:hover {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 246, 89);
    box-shadow: 0px 0px 10px rgb(250, 250, 55);
}

/* Main content styles */
main h1 {
    font-size: 4em;
    text-decoration: underline;
    color: rgb(18, 95, 143);
    margin-top: 0.5em;
}

main p {
    font-size: 2em;
    text-indent: 1em;
    line-height: 1.25em;
}

/* Styles for mobile only */
@media screen and (max-width: 480px) {
    /* Carousel styles */
    #carousel {
        height: 20em;
    }

    .cCaption {
        bottom: 2%;
    }
}

/* Styles for tablet and desktop */
@media screen and (min-width: 481px) {
    /* Carousel styles */
    #carousel {
        height: 25em;
    }

    .cCaption {
        width: 50%;
        top: 7.5%;
    }

    .cArrow {
        transition: background-color 0.5s ease;
    }

    #cProgress {
        display: block;
    }
}