@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre');

/* Main styles for pages */

html {
    background-color: rgb(2, 164, 211);
}

body {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    margin: auto;
    background-color: rgb(248, 213, 104);
    font-family: 'Frank Ruhl Libre', 'Times New Roman', Times, serif;
}

#banner {
    height: 12.5em;
}

#navicon img {
    width: 2.5em;
    display: none;
}

nav.sticky {
    position: fixed;
    top: 0px;
    z-index: 100;
}

.mainNav {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
}

.mainNav ul a {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
    color: white;
    font-variant: small-caps;
    letter-spacing: 0.2em;
}

footer {
    background-color: rgb(238, 184, 19);
}

@media screen and (max-width: 480px) {
    #navicon img {
        display: block;
    }
    
    header.sticky + #carousel {
        margin-top: 2.5em;
    }
    
    .mainNav {
        background-color: rgb(2, 164, 211);
    }

    .mainNav ul {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        text-indent: 1em;
    }

    .mainNav ul a {
        text-align: left;
        line-height: 2.5em;
        width: 100%;
        background-color: rgb(2, 164, 211);
    }

    #currentPage {
        background-color: rgb(29, 188, 234);
        color: rgb(216, 216, 216);
    }

    .mainNav ul a:hover {
        background-color: rgb(2, 134, 207);
    }

    #navicon:hover+ul, .mainNav>ul:hover {
        display: block;
    }

    .submenu li {
        text-indent: 2em;
    }

    .submenuTitle:hover+.submenu, .submenu:hover {
        display: block;
    }
}

@media screen and (min-width: 481px) {
    header.sticky + #carousel {
        margin-top: 2em;
    }

    .mainNav>ul {
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        -webkit-flex-flow: row nowrap;
    }
    
    .mainNav>ul>li {
        flex: 1 1 0;
        -webkit-flex: 1 1 0;
    }

    .mainNav ul a {
        background-color: rgba(65, 65, 65, 0.75);
    }

    #currentPage {
        background-color: rgba(136, 136, 136, 0.75);
        color: rgb(218, 218, 218)
    }

    .mainNav ul a:hover {
        background-color: rgba(55, 55, 55, 0.9);
    }

    .submenuTitle:hover+.submenu, .submenu:hover {
        display: flex;
        display: -webkit-flex;
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
    }

    .submenu {
        display: none;
        position: absolute;
        z-index: 1;
    }
    
    .submenu li {
        width: 240%;
    }

}

@media screen and (min-width: 769px) {

}